@use "_base" as *;
body, %body { 
scroll-behavior: smooth;
height:100vh;
@include flex(row, $justify: space-around);
@include bg($Red, url("images/bg-intro-desktop.png"), $imgrepeat: repeat); 
}
* {
box-sizing: border-box;
}
p, h1 {
color: white;
}
main {
@extend %body;
}
.error, .success {
display: none;
color: $Red;
font-size: 8px;
}
.form {
@include flex(column, flex-start, space-around); 
background-color: white;
padding: 15px;
border-radius: 5px;
height: 70vh;
}
.inputs {
color: black;
display: block;
border: solid grey 1px;
border-radius: 2.5px;
width: 100%;
}
label {
height: 20px;
width: 80%;
margin: 5px;
}
@media screen and (max-width: 600px) {
main {
@include flex(column, $justify: space-around);
@include bg($Red, url("images/bg-intro-mobile.png"), $imgrepeat: repeat);
min-height: 100vh;
} 
main * {
margin: auto;
} }
